body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #fcf269; /* Light background for a clean look */
}
header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #2e8b57; /* Smoothie machine branding color */
}

p {
    font-size: 18px;
}

form {
    margin-top: 20px;
}

label, select {
    margin: 10px;
}

button {
    display: block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#orderSummary {
    margin-top: 20px;
    font-size: 1.2em;
    color: green;
}
